# Mac OS X files
.DS_Store
._*

# Example code in package build process
*-Ex.R

# R data files from past sessions
.RData
.Rdata
.Rhistory

# RStudio files
.Rproj.user
*.Rproj

# directory used by the Makefile for R CMD check
check_tmp

# we build our documentation using Roxygen2, but we need to push
# these as they are required for install_github (right???)
# *.Rd
inst/doc

#Rcpp files
*.o
*.so
*.dll
src/tst/test
src/tst/test_random
src/tst/sample
